---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written {% if page.original_author %} by {{page.original_author}}{% endif %}{% if page.original_date %}, {{ page.original_date | date: "%B %e, %Y" }} {% endif %}
  </div>
  {% if page.title %}
  <div class="date">
    Translated {% if page.author %} by {{page.author}}{% endif %}{% if page.date %}, {{ page.date | date: "%B %e, %Y" }} {% endif %}
  </div>
  {% endif %}
  <br>
  {% include disqus.html %}
</article>
